INPUT_FOLDER_PATH=/path/to/input
OUTPUT_FOLDER_PATH=/path/to/output

FFMPEG_DIR=/path/to/ffmpeg_ffprobe
TRANSCODE_ACCEL=nvenc

ANILIST_CLIENT_ID=your_anilist_client_id
ANILIST_CLIENT_SECRET=your_anilist_client_secret

BASE_URL=localhost