# Single input folder:
INPUT_FOLDER_PATH=/path/to/input
# Multiple input folders:
# INPUT_FOLDER_PATH=/path/to/input;/other/input
OUTPUT_FOLDER_PATH=/path/to/output

FFMPEG_DIR=/path/to/ffmpeg_ffprobe
# nvenc, qsv, amd, or cpu
TRANSCODE_ACCEL=nvenc

BASE_URL=http://localhost:3000

ANILIST_CLIENT_ID=your_anilist_client_id
ANILIST_CLIENT_SECRET=your_anilist_client_secret
